APP_DEBUG = "1"
[APP]
DEFAULT_TIMEZONE = "Asia/Shanghai"

[DATABASE]
TYPE = "mysql"
HOSTNAME = "mysql"
DATABASE = "likeadmin"
USERNAME = "root"
PASSWORD = "your_secure_password_here"
HOSTPORT = "3306"
CHARSET = "utf8mb4"
DEBUG = "1"
PREFIX = "la_"

[LANG]
default_lang = "zh-cn"

[PROJECT]
UNIQUE_IDENTIFICATION = "a1cb"
DEMO_ENV = ""
